.SpeachFromText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    direction: rtl;
}

.SpeachFromText p {
    margin: 0;
}

.chatDiv{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.chat{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.SpeachFromTextButtons{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.SpeachFromTextButtons button{
    background-color: transparent;
    border: 1px solid black;
    height: 50px;
    padding: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.SpeachFromTextMicrophone{
    position: absolute;
    top: 10px;
}